#search {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 7px;
}

#searchBox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background-color: var(--card-bg);
    backdrop-filter: blur(10px);
    /* padding: 0px 8px; */
    border-radius: 22px;
    color: var(--on-card-bg);
    transition: all .25s ease-in-out;
    font-size: 14px;
    font-weight: var(--font-weight-regular);
    user-select: none;
    /* margin-block-end: 1em; */
    /* position: fixed; */
}

#searchBoxMain .text {
    font-family: 'Figtree', 'MiSans';
    display: flex;
    border: 0;
    width: auto;
    /* height: 35px; */
    font-size: 14px;
    font-weight: var(--font-weight-regular);
    outline: none;
    background-color: unset;
    color: var(--on-card-bg);
    text-align: center;
    transition: all .25s ease-in-out;
}

#searchBox:hover {
    height: 44px;
    padding: 0px 8px;
    border-radius: 12px;
    background-color: var(--card-bg-hover);
}

#searchBoxMain {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 356px;
    height: 44px;
    background-color: var(--card-bg-hover);
    backdrop-filter: blur(10px);
    /* padding: 14px; */
    border-radius: 12px;
    color: var(--on-card-bg);
    transition: all .25s ease-in-out;
    font-size: 14px;
    font-weight: var(--font-weight-regular);
    user-select: none;
    /* margin-block-end: 44px; */
    position: absolute;
    top: 0px;
    box-shadow: 0px 10px 40px #00000060;
}

#searchBox:hover p {
    height: auto;
    margin: 0;
    font-size: 14px;
    font-weight: var(--font-weight-regular);
}

#searchBoxMain:hover .text {
    font-family: 'Figtree', 'MiSans';
    display: flex;
    border: 0;
    width: 100%;
    font-size: 14px;
    font-weight: var(--font-weight-regular);
    outline: none;
    background-color: unset;
    color: var(--on-card-bg-hover);
}

input:-moz-placeholder,
textarea:-moz-placeholder {
    color: var(--on-card-bg);
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: var(--on-card-bg);
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: var(--on-card-bg);
}

#searchBarHover {
    display: none;
}

.nav-items {
    background-color: #0000002d;
    width: -webkit-fill-available;
    width: 100%;
    height: -webkit-fill-available;
    height: 100%;
    position: absolute;
    left: 0;
    opacity: 0;
    display: flex;
    box-sizing: border-box;
    transition: opacity .3s ease-in-out;
    backdrop-filter: blur(20px);
    flex-direction: column;
    top: 0;
    border-radius: 10px;
    justify-content: flex-end;
    transform: scaleY(0);
    align-items: center;
    z-index: 6;
}

#searchBarHover:checked~.nav-items {
    transform: scaleY(1);
    opacity: 1;
    transition: opacity .3s ease-in-out;
}

#searchBarHover:checked~#searchBox {
    /* backdrop-filter: blur(0px); */
    background-color: #00000059;
    /* transition: opacity .3s ease-in-out; */
}

#baidulogo {
    fill: #FFFFFF;
}