@font-face {
    font-family: Figtree;
    src: url(./fonts/Figtree-VF.ttf);
}

@font-face {
    font-family: MiSans;
    src: url(./fonts/MiSans-VF.ttf);
}

@font-face {
    font-family: BalooDa;
    src: url(./fonts/BalooDa2-VF.ttf);
}

@font-face {
    font-family: SilentSymbol;
    src: url(./fonts/silentsymbol-VF.ttf);
}

@media (prefers-color-scheme: light) {
    :root {
        --list-bg: #FFFFFF;
        --list-line: #f0f2f4;
        --list-bg-hover: #e1e3e6;
        --on-list-bg: #1A1B1C;
        --card-bg: #FFFFFF73;
        --card-bg-hover: #FFFFFFab;
        --on-card-bg: #1a1b1c8e;
        --on-card-bg-hover: #1a1b1cef;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --list-bg: #1A1B1C;
        --list-line: #343536;
        --list-bg-hover: #2c2d2e;
        --on-list-bg: #FFFFFF;
        --card-bg: #00000073;
        --card-bg-hover: #000000ab;
        --on-card-bg: #ffffff8e;
        --on-card-bg-hover: #ffffffef;
    }
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    box-sizing: border-box;
    margin: 0;
    background: radial-gradient(50% 50%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%), url(https://api.paugram.com/bing/);
    background-size: cover;
    background-position: center;
    user-select: none;
}

/* p {
    margin: 0;
    font-size: 14px;
} */

#silent-start {
    fill: #ffffffc5;
    backdrop-filter: blur(10px);
}

.logoBox {
    height: 14px;
    display: flex;
    align-items: center;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

#n {
    font-family: 'SilentSymbol', 'MiSans';
    font-size: 18px;
    width: 24px;
    display: flex;
    margin-top: -1px;
    color: #ffffffc5;
}

#n2 {
    font-family: 'SilentSymbol', 'MiSans';
    font-size: 18px;
    width: 24px;
    display: flex;
    margin-top: -1px;
    opacity: 0;
}

#statusBar {
    display: flex;
    gap: 10px;
    margin-top: -1px;
}